<footer class="site-footer">
  <div class="hazard-rule" aria-hidden="true"></div>
  <div class="container site-footer__grid">
    <div class="site-footer__about">
      <a class="brand brand--footer" href="/">
        <svg class="brand__mark" aria-hidden="true"><use href="#i-logo"></use></svg>
        <span class="brand__text"><span class="brand__top">Big Bazaar</span><span class="brand__bottom">Build</span></span>
      </a>
      <p>{{t:common.footerAbout}}</p>
      {{> lang-switch}}
    </div>
    <div>
      <h2 class="site-footer__title">{{t:common.footerCatalog}}</h2>
      <ul class="site-footer__links" data-footer-categories>
        <li><a href="/catalog">{{t:nav.allCategories}}</a></li>
      </ul>
    </div>
    <div>
      <h2 class="site-footer__title">{{t:common.footerCompany}}</h2>
      <ul class="site-footer__links">
        <li><a href="/#how-it-works">{{t:nav.howItWorks}}</a></li>
        <li><a href="/quote">{{t:quote.title}}</a></li>
        <li><a href="/suppliers">{{t:nav.suppliers}}</a></li>
        <li><a href="/account">{{t:nav.account}}</a></li>
        <li><a href="/admin/login">{{t:auth.staffHint}}</a></li>
      </ul>
    </div>
    <div>
      <h2 class="site-footer__title">{{t:common.footerContacts}}</h2>
      <ul class="site-footer__contacts">
        <li><svg class="icon" aria-hidden="true"><use href="#i-phone"></use></svg><a href="{{v:supportPhoneHref}}">{{v:supportPhone}}</a></li>
        <li><svg class="icon" aria-hidden="true"><use href="#i-clock"></use></svg>{{t:common.footerHours}}</li>
        <li><svg class="icon" aria-hidden="true"><use href="#i-pin"></use></svg>{{t:common.footerAddress}}</li>
      </ul>
    </div>
  </div>
  <div class="container site-footer__bottom">
    <p>© {{v:year}} {{v:siteName}}. {{t:common.footerRights}}</p>
    <p class="site-footer__note">{{t:common.footerDemo}}</p>
  </div>
</footer>
