<div class="password-meter" data-password-meter hidden>
  <div class="password-meter__bar" aria-hidden="true"><span data-meter-fill></span></div>
  <p class="password-meter__label" aria-live="polite" data-meter-label></p>
  <ul class="password-rules" aria-label="{{t:auth.passwordRules}}">
    <li data-rule="length">{{t:auth.rules.length}}</li>
    <li data-rule="lower">{{t:auth.rules.lower}}</li>
    <li data-rule="upper">{{t:auth.rules.upper}}</li>
    <li data-rule="digit">{{t:auth.rules.digit}}</li>
    <li data-rule="symbol">{{t:auth.rules.symbol}}</li>
  </ul>
</div>
